@page "/constructors/{Year:int?}"
@using F1.Services

<PageTitle>Constructors @Year</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Href="@($"constructors/{Year - 1}")" />
    <MudText Typo="Typo.h4">Constructors @Year</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Href="@($"constructors/{Year + 1}")" />
</MudStack>

<div class="relative flex-1">
    <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
        @if (constructorStandingsList is not null)
        {
            <thead>
                <tr>
                    <th class="align-center">Position</th>
                    <th class="align-center">Constructor</th>
                    <th class="align-center">Wins</th>
                    <th class="align-center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var constructorStandings in constructorStandingsList.MRData.StandingsTable.StandingsLists.FirstOrDefault()?.ConstructorStandings ?? [])
                {
                    <tr>
                        <td class="align-center">@constructorStandings.PositionText</td>
                        <td class="align-center"><MudLink Href=@($"constructors/{Year}/{constructorStandings.Constructor.ConstructorId}")>@constructorStandings.Constructor.Name</MudLink></td>
                        <td class="align-center">@constructorStandings.Wins</td>
                        <td class="align-center">@constructorStandings.Points</td>
                    </tr>
                }
            </tbody>
        }
    </MudSimpleTable>
</div>

@code {
    private Response<StandingsTableMRData<ConstructorStandingsList>>? constructorStandingsList;

    [Parameter]
    public int? Year { get; set; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        Year ??= DateTime.Now.Year;
        constructorStandingsList = await F1Service.GetConstructorsAsync(Year!.Value);
    }
}
