@page "/constructors/{Year:int}/{ConstructorId}"
@using F1.Services
@using F1.Helpers

<PageTitle>@(constructor is null ? "Constructor" : $"{constructor.Name} {Year}")</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Href="@($"constructors/{Year - 1}/{ConstructorId}")" />
    <MudText Typo="Typo.h4">@(constructor is null ? string.Empty : $"{constructor.Name} {Year}")</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Href="@($"constructors/{Year + 1}/{ConstructorId}")" />
</MudStack>

<div class="relative flex-1">
    <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
        @if (constructorResultsRaceTable is not null)
        {
            <thead>
                <tr>
                    <th class="align-center">Round</th>
                    <th class="align-center">Race</th>
                    <th class="align-center">Date</th>
                    <th class="align-center">Driver</th>
                    <th class="align-center">Position</th>
                    <th class="align-center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var race in constructorResultsRaceTable.MRData.RaceTable.Races ?? [])
                {
                    
                    <tr>
                        <td class="align-center">@race.Round</td>
                        <td class="align-center"><MudLink Href=@($"races/{Year}/{race.Round}")>@race.RaceName</MudLink></td>
                        <td class="align-center">@TimeHelper.ToDisplayDate(race.Date, race.TimeOnly)</td>
                        <td class="align-center">
                            @foreach (var result in race.Results)
                            {
                                <MudLink Href=@($"drivers/{Year}/{result.Driver.DriverId}")>@result.Driver.GivenName @result.Driver.FamilyName</MudLink><br/>
                            }
                        </td>
                        <td class="align-center">
                            @foreach (var result in race.Results)
                            {
                                <div title="@result.Status">@result.PositionText</div>
                            }
                        </td>
                        <td class="align-center">
                            @foreach (var result in race.Results)
                            {
                                @result.Points<br/>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }
    </MudSimpleTable>
</div>

@code {
    private Response<RaceTableMRData<ConstructorResultsRaceTable>>? constructorResultsRaceTable;
    private F1.Services.Constructor? constructor;

    [Parameter]
    public required int Year { get; init; }

    [Parameter]
    public required string ConstructorId { get; init; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        constructorResultsRaceTable = await F1Service.GetConstructorAsync(Year, ConstructorId);
        constructor = constructorResultsRaceTable.MRData.RaceTable.Races.FirstOrDefault()?.Results.FirstOrDefault()?.Constructor;
    }
}
