@page "/constructors/{Year:int?}"
@using F1.Services

<PageTitle>Constructors @year</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="BackAsync" />
    <MudText Typo="Typo.h4">Constructors @year</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="ForwardAsync" />
</MudStack>

@if (constructorStandingsList is not null)
{
    <div class="relative flex-1">
        <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
            <thead>
                <tr>
                    <th style="text-align:center">Position</th>
                    <th style="text-align:center">Constructor</th>
                    <th style="text-align:center">Wins</th>
                    <th style="text-align:center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var constructorStandings in constructorStandingsList.MRData.StandingsTable.StandingsLists.FirstOrDefault()?.ConstructorStandings ?? [])
                {
                    <tr>
                        <td style="text-align:center">@constructorStandings.PositionText</td>
                        <td style="text-align:center"><MudLink Href=@($"constructors/{year}/{constructorStandings.Constructor.ConstructorId}")>@constructorStandings.Constructor.Name</MudLink></td>
                        <td style="text-align:center">@constructorStandings.Wins</td>
                        <td style="text-align:center">@constructorStandings.Points</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private Response<StandingsTableMRData<ConstructorStandingsList>>? constructorStandingsList;
    private int year;

    [Parameter]
    public int? Year { get; set; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        year = Year ?? DateTime.Now.Year;
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        NavigationManager.NavigateTo($"constructors/{year}");
        constructorStandingsList = await F1Service.GetConstructorsAsync(year);
    }

    private async Task BackAsync()
    {
        year--;
        await GetDataAsync();
    }

    private async Task ForwardAsync()
    {
        year++;
        await GetDataAsync();
    }
}
