@page "/drivers/{Year:int?}"
@using F1.Services

<PageTitle>Drivers @year</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="BackAsync" />
    <MudText Typo="Typo.h4">Drivers @year</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="ForwardAsync" />
</MudStack>

@if (driverStandingsList is not null)
{
    <div class="relative flex-1">
        <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
            <thead>
                <tr>
                    <th style="text-align:center">Position</th>
                    <th style="text-align:center">Driver</th>
                    <th style="text-align:center">Code</th>
                    <th style="text-align:center">Nationality</th>
                    <th style="text-align:center">Constructor</th>
                    <th style="text-align:center">Wins</th>
                    <th style="text-align:center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driverStanding in driverStandingsList.MRData.StandingsTable.StandingsLists.FirstOrDefault()?.DriverStandings ?? [])
                {
                    <tr>
                        <td style="text-align:center">@driverStanding.PositionText</td>
                        <td style="text-align:center"><MudLink Href=@($"drivers/{year}/{driverStanding.Driver.DriverId}")>@driverStanding.Driver.GivenName @driverStanding.Driver.FamilyName</MudLink></td>
                        <td style="text-align:center">@driverStanding.Driver.Code @driverStanding.Driver.PermanentNumber</td>
                        <td style="text-align:center">@driverStanding.Driver.Nationality</td>
                        <td style="text-align:center"><MudLink Href=@($"constructors/{year}/{driverStanding.Constructors.LastOrDefault()?.ConstructorId}")>@driverStanding.Constructors.LastOrDefault()?.Name</MudLink></td>
                        <td style="text-align:center">@driverStanding.Wins</td>
                        <td style="text-align:center">@driverStanding.Points</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private Response<StandingsTableMRData<DriverStandingsList>>? driverStandingsList;
    private int year;

    [Parameter]
    public int? Year { get; set; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        year = Year ?? DateTime.Now.Year;
        await GetDataAsync();
    }
        

    private async Task GetDataAsync()
    {
        NavigationManager.NavigateTo($"drivers/{year}");
        driverStandingsList = await F1Service.GetDriversAsync(year);
    }

    private async Task BackAsync()
    {
        year--;
        await GetDataAsync();
    }

    private async Task ForwardAsync()
    {
        year++;
        await GetDataAsync();
    }
}
