@page "/drivers/{Year:int}/{DriverId}"
@using F1.Services
@using F1.Helpers

<PageTitle>@(driver is null ? "Driver" : $"{driver.GivenName} {driver.FamilyName} {Year}")</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Href="@($"drivers/{Year - 1}/{DriverId}")" />
    <MudText Typo="Typo.h4">@(driver is null ? string.Empty : $"{driver.GivenName} {driver.FamilyName} {Year}")</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Href="@($"drivers/{Year + 1}/{DriverId}")" />
</MudStack>

<div class="relative flex-1">
    <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
        @if (driverResultsRaceTable is not null)
        {
            <thead>
                <tr>
                    <th class="align-center">Round</th>
                    <th class="align-center">Race</th>
                    <th class="align-center">Date</th>
                    <th class="align-center">Constructor</th>
                    <th class="align-center">Position</th>
                    <th class="align-center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var race in driverResultsRaceTable.MRData.RaceTable.Races ?? [])
                {
                    <tr>
                        <td class="align-center">@race.Round</td>
                        <td class="align-center"><MudLink Href=@($"races/{Year}/{race.Round}")>@race.RaceName</MudLink></td>
                        <td class="align-center">@TimeHelper.ToDisplayDate(race.Date, race.TimeOnly)</td>
                        <td class="align-center"><MudLink Href=@($"constructors/{Year}/{race.Results.FirstOrDefault()?.Constructor?.ConstructorId}")>@race.Results.FirstOrDefault()?.Constructor?.Name</MudLink></td>
                        <td class="align-center" title="@race.Results.FirstOrDefault()?.Status">@race.Results.FirstOrDefault()?.PositionText</td>
                        <td class="align-center">@race.Results.FirstOrDefault()?.Points</td>
                    </tr>
                }
            </tbody>
        }
    </MudSimpleTable>
</div>

@code {
    private Response<RaceTableMRData<DriverResultsRaceTable>>? driverResultsRaceTable;
    private F1.Services.Driver? driver;

    [Parameter]
    public required int Year { get; init; }

    [Parameter]
    public required string DriverId { get; init; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        driverResultsRaceTable = await F1Service.GetDriverAsync(Year, DriverId);
        driver = driverResultsRaceTable.MRData.RaceTable.Races.FirstOrDefault()?.Results.FirstOrDefault()?.Driver;
    }
}
