@page "/drivers/{Year:int?}"
@using F1.Services

<PageTitle>Drivers @Year</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="BackAsync" />
    <MudText Typo="Typo.h4">Drivers @Year</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="ForwardAsync" />
</MudStack>

<div class="relative flex-1">
    <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
        @if (driverStandingsList is not null)
        {
            <thead>
                <tr>
                    <th class="align-center">Position</th>
                    <th class="align-center">Driver</th>
                    <th class="align-center">Code</th>
                    <th class="align-center">Nationality</th>
                    <th class="align-center">Constructor</th>
                    <th class="align-center">Wins</th>
                    <th class="align-center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driverStanding in driverStandingsList.MRData.StandingsTable.StandingsLists.FirstOrDefault()?.DriverStandings ?? [])
                {
                    <tr>
                        <td class="align-center">@driverStanding.PositionText</td>
                        <td class="align-center"><MudLink Href=@($"drivers/{Year}/{driverStanding.Driver.DriverId}")>@driverStanding.Driver.GivenName @driverStanding.Driver.FamilyName</MudLink></td>
                        <td class="align-center">@driverStanding.Driver.Code @driverStanding.Driver.PermanentNumber</td>
                        <td class="align-center">@driverStanding.Driver.Nationality</td>
                        <td class="align-center"><MudLink Href=@($"constructors/{Year}/{driverStanding.Constructors.LastOrDefault()?.ConstructorId}")>@driverStanding.Constructors.LastOrDefault()?.Name</MudLink></td>
                        <td class="align-center">@driverStanding.Wins</td>
                        <td class="align-center">@driverStanding.Points</td>
                    </tr>
                }
            </tbody>
        }
    </MudSimpleTable>
</div>

@code {
    private Response<StandingsTableMRData<DriverStandingsList>>? driverStandingsList;

    [Parameter]
    public int? Year { get; set; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Year ??= DateTime.Now.Year;
        await GetDataAsync();
    }

    private async Task GetDataAsync()
    {
        NavigationManager.NavigateTo($"drivers/{Year}");
        driverStandingsList = await F1Service.GetDriversAsync(Year!.Value);
    }

    private async Task BackAsync()
    {
        Year--;
        await GetDataAsync();
    }

    private async Task ForwardAsync()
    {
        Year++;
        await GetDataAsync();
    }
}
