@page "/drivers/{Year:int}/{DriverId}"
@using F1.Services
@using F1.Helpers

<PageTitle>@(driver is null ? "Driver" : $"{driver.GivenName} {driver.FamilyName} {Year}")</PageTitle>

@if (raceTableDriverResultsResponse is not null)
{
    @if (driver is not null)
    {
        <MudText Typo="Typo.h4" Class="pb-2">@driver.GivenName @driver.FamilyName @Year</MudText>
    }

    <div class="relative flex-1">
        <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
            <thead>
                <tr>
                    <th style="text-align:center">Round</th>
                    <th style="text-align:center">Race</th>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Constructor</th>
                    <th style="text-align:center">Position</th>
                    <th style="text-align:center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var race in raceTableDriverResultsResponse.MRData.RaceTable.Races ?? [])
                {
                    <tr>
                        <td style="text-align:center">@race.Round</td>
                        <td style="text-align:center">@race.RaceName</td>
                        <td style="text-align:center">@TimeHelper.ToDisplayDate(race.Date, race.TimeOnly)</td>
                        <td style="text-align:center">@race.Results.FirstOrDefault()?.Constructor?.Name</td>
                        <td style="text-align:center" title="@race.Results.FirstOrDefault()?.Status">@race.Results.FirstOrDefault()?.PositionText</td>
                        <td style="text-align:center">@race.Results.FirstOrDefault()?.Points</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private Response<RaceTableMRData<DriverResultsRaceTable>>? raceTableDriverResultsResponse;
    private F1.Services.Driver? driver;

    [Parameter]
    public required int Year { get; init; }

    [Parameter]
    public required string DriverId { get; init; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        raceTableDriverResultsResponse = await F1Service.GetDriverResultsTableAsync(Year, DriverId);
        driver = raceTableDriverResultsResponse.MRData.RaceTable.Races.FirstOrDefault()?.Results.FirstOrDefault()?.Driver;
    }
}
