@page "/races/{Year:int}/{Round:int}"
@using F1.Services
@using F1.Helpers

<PageTitle>@(raceResult is null ? "Race" : $"{raceResult.RaceName} {Year}")</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Href="@($"races/{Year - 1}/{Round}")" />
    <MudText Typo="Typo.h4">@(raceResult is null ? string.Empty : $"{raceResult.RaceName} {Year}")</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Href="@($"races/{Year + 1}/{Round}")" />
</MudStack>

<div class="relative flex-1">
    <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
        @if (raceResultsRaceTable is not null)
        {
            <thead>
                <tr>
                    <th class="align-center">Position</th>
                    <th class="align-center">Name</th>
                    <th class="align-center">Constructor</th>
                    <th class="align-center">Time</th>
                    <th class="align-center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in raceResult?.Results ?? [])
                {
                    <tr>
                        <td class="align-center" title="@result.Status">@result.PositionText</td>
                        <td class="align-center"><MudLink Href=@($"drivers/{Year}/{result.Driver.DriverId}")>@result.Driver.GivenName @result.Driver.FamilyName</MudLink></td>
                        <td class="align-center"><MudLink Href=@($"constructors/{Year}/{result.Constructor?.ConstructorId}")>@result.Constructor?.Name</MudLink></td>
                        <td class="align-center">@(result.Time is null ? result.Status : result.Laps == laps ? result.Time?.Time : laps - result.Laps is 1 ? "+1 Lap" : $"+{laps - result.Laps} Laps")</td>
                        <td class="align-center">@result.Points</td>
                    </tr>
                }
            </tbody>
        }
    </MudSimpleTable>
</div>

@code {
    private Response<RaceTableMRData<RaceResultsRaceTable>>? raceResultsRaceTable;
    private RaceResult? raceResult;
    private int? laps;

    [Parameter]
    public required int Year { get; init; }

    [Parameter]
    public required int Round { get; init; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        raceResultsRaceTable = await F1Service.GetRaceAsync(Year, Round);
        raceResult = raceResultsRaceTable.MRData.RaceTable.Races.FirstOrDefault();
        laps = raceResult?.Results.FirstOrDefault()?.Laps;
    }
}
