@page "/races/{Year:int}/{Round:int}"
@using F1.Services
@using F1.Helpers

<PageTitle>@(raceResult is null ? "Race" : $"{raceResult.RaceName} {raceResult.Season}")</PageTitle>

@if (raceTableRaceResultsResponse is not null)
{
    @if (raceResult is not null)
    {
        <MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
            <MudText Typo="Typo.h4">@raceResult.RaceName @raceResult.Season</MudText>
            <MudStack Spacing="0">
                <MudText Align="Align.Right">Round @raceResult.Round, @TimeHelper.ToDisplayDate(raceResult.Date, raceResult.TimeOnly)</MudText>
                <MudText Align="Align.Right">@raceResult.Circuit.CircuitName, @raceResult.Circuit.Location.Locality, @raceResult.Circuit.Location.Country</MudText>
            </MudStack>
        </MudStack>
    }

    <div class="relative flex-1">
        <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
            <thead>
                <tr>
                    <th style="text-align:center">Position</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Constructor</th>
                    <th style="text-align:center">Time</th>
                    <th style="text-align:center">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in raceResult?.Results ?? [])
                {
                    <tr>
                        <td style="text-align:center" title="@result.Status">@result.PositionText</td>
                        <td style="text-align:center"><MudLink Href=@($"drivers/{Year}/{result.Driver.DriverId}")>@result.Driver.GivenName @result.Driver.FamilyName</MudLink></td>
                        <td style="text-align:center"><MudLink Href=@($"constructors/{Year}/{result.Constructor?.ConstructorId}")>@result.Constructor?.Name</MudLink></td>
                        <td style="text-align:center">@(result.Time is null ? result.Status : result.Laps == laps ? result.Time?.Time : laps - result.Laps is 1 ? "+1 Lap" : $"+{laps - result.Laps} Laps")</td>
                        <td style="text-align:center">@result.Points</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private Response<RaceTableMRData<RaceResultsRaceTable>>? raceTableRaceResultsResponse;
    private RaceResult? raceResult;
    private int? laps;

    [Parameter]
    public required int Year { get; init; }

    [Parameter]
    public required int Round { get; init; }

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnInitializedAsync()
    {
        raceTableRaceResultsResponse = await F1Service.GetRaceTableResultsAsync(Year, Round);
        raceResult = raceTableRaceResultsResponse.MRData.RaceTable.Races.FirstOrDefault();
        laps = raceResult?.Results.FirstOrDefault()?.Laps;
    }
}
