@page "/schedule"
@using F1.Services

<PageTitle>Schedule</PageTitle>

<MudStack Justify="Justify.SpaceBetween" Class="pb-2" Row>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="BackAsync" />
    <MudText Typo="Typo.h4">Schedule @year</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="ForwardAsync" />
</MudStack>

@if (raceTableResponse is not null)
{
    <div class="relative flex-1">
        <MudSimpleTable Class="fill-parent" Dense Hover FixedHeader>
            <thead>
                <tr>
                    <th style="text-align:center">Round</th>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Race</th>
                    <th style="text-align:center">Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var race in raceTableResponse.MRData.RaceTable.Races)
                {
                    <tr style="@(@race.Round == nextRound ? "color:var(--mud-palette-dark);background-color:var(--mud-palette-primary);" : string.Empty)">
                        <td style="text-align:center">@race.Round</td>
                        <td style="text-align:center">@(race.TimeOnly.HasValue ? new DateTime(race.Date, race.TimeOnly.Value).ToLocalTime().ToString("yyyy-MM-dd HH:mm") : race.Date.ToDateTime(TimeOnly.MinValue).ToLocalTime().ToString("yyyy-MM-dd"))</td>
                        <td style="text-align:center">@race.RaceName</td>
                        <td style="text-align:center">@race.Circuit.CircuitName, @race.Circuit.Location.Locality, @race.Circuit.Location.Country</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private int year = DateTime.Now.Year;
    private Response<RaceTableMRData>? raceTableResponse;
    private int? nextRound;

    [Inject]
    private F1Service F1Service { get; init; } = default!;

    protected override async Task OnInitializedAsync() =>
        await GetDataAsync();

    private async Task GetDataAsync()
    {
        raceTableResponse = await F1Service.GetRaceTableAsync(year);
        nextRound = raceTableResponse.MRData.RaceTable.Races
            .FirstOrDefault(race => race.TimeOnly.HasValue
                ? new DateTime(race.Date, race.TimeOnly.Value) >= DateTime.Now
                : race.Date >= DateOnly.FromDateTime(DateTime.Now))
            ?.Round;
    }

    private async Task BackAsync()
    {
        year--;
        await GetDataAsync();
    }

    private async Task ForwardAsync()
    {
        year++;
        await GetDataAsync();
    }
}
